
<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Create image header</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <!-- <label>Name</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="imgBar.homepageIB_name" placeholder="Image name" name="imageBarName">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="product" [(ngModel)]="selectedProduct">
        <option [value]="0" selected="selected" disabled>Lägg till produkt</option>
        <option [value]="product.product_id"  *ngFor="let product of products">{{product.product_name}}</option>
      </select>
    </div>
    <div>
      <label>Picture (Max: 200kb)</label>
      <br>
      <input type="file" class="w3-input" (change)="onFileChanged($event)">
    </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onSave()">Skapa</button>
</div>