

<button class="w3-button w3-block w3-teal" routerLink="/users/create">Skapa användare</button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <table mat-table class="w3-table-all w3-hoverable" [dataSource]="dataSource" matSort aria-label="Elements">


    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-sort-header>Id</th>
      <td *matCellDef="let row"><a routerLink="/users/{{row.customer_id}}/edit">{{row.customer_id}}</a></td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th *matHeaderCellDef mat-sort-header>Förnamn</th>
      <td *matCellDef="let row">{{row.first_name}}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th *matHeaderCellDef mat-sort-header>Efternamn</th>
      <td *matCellDef="let row">{{row.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="address1">
      <th *matHeaderCellDef mat-sort-header>Adress1</th>
      <td *matCellDef="let row">{{row.address1}}</td>
    </ng-container>
    <ng-container matColumnDef="address2">
      <th *matHeaderCellDef mat-sort-header>Adress2</th>
      <td *matCellDef="let row">{{row.address2}}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th *matHeaderCellDef mat-sort-header>Mobilnummer</th>
      <td *matCellDef="let row">{{row.phone}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-sort-header>Email</th>
      <td *matCellDef="let row">{{row.email}}</td>
    </ng-container>




    <tr class="w3-green" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
