<div class="body-container">
  <div class="main-container">
    <div class="alert" *ngIf="success === false">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Invalid!</strong>
    </div>
    <div class="alert success" *ngIf="success === true">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Success!</strong>
    </div>
    <h5 *ngIf="success === false">Your form is valid</h5>

    <div class="w3-row">
      <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 1" [ngClass]="{'w3-border-green': tabIndex === 1}">Login</div>
      <div class="w3-col s12 m6 w3-button w3-bottombar w3-padding" (click)="tabIndex = 2" [ngClass]="{'w3-border-green': tabIndex === 2}">SignUp</div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="login()">
      <div *ngIf="tabIndex === 1">
        <div class="imgcontainer">
          <img src="../../../../assets/ImagesForSite/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" formControlName="username" [(ngModel)]="cred.username"
            required>
          <div *ngIf="submitted && messageForm.controls.username.errors" class="error">
            <div *ngIf="messageForm.controls.username.error.required && !messageForm.controls.username.error.touched">Your
              name is required, bro</div>
          </div>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" formControlName="password" [(ngModel)]="cred.password"
            required>
          <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
            <div *ngIf="!messageForm.controls.password.error.required && !messageForm.controls.password.error.touched">Your
              password is required, bro</div>
          </div>
          <button type="submit" value="send">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <span class="psw">Forgot <a href="#">password?</a></span>
          </label>
        </div>
      </div>
    </form>

    <div *ngIf="tabIndex === 2">
      <form>
        <div class="imgcontainer">
          <img src="../../../../assets/ImagesForSite/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="w3-row-padding">
          <div class="w3-half">
            <h1>Company</h1>
          <label for="text"><b>Företag namn</b></label>
          <input type="text" class="w3-input w3-border w3-hover-green"  name="companyName" [(ngModel)]="signUp.companyName">
          <label for="contactFirstName"><b>Kontakt förnamn</b></label>
          <input type="text" class="w3-input w3-border"  name="contactFirstName" [(ngModel)]="signUp.contactFirstName">
          <label for="contactLastName"><b>Kontakt efternamn</b></label>
          <input type="text" class="w3-input w3-border"  name="contactLastName" [(ngModel)]="signUp.contactLastName">
          <label for="supplierAddress1"><b>Företag dress1</b></label>
          <input type="text" class="w3-input w3-border"  name="supplierAddress1" [(ngModel)]="signUp.supplierAddress1">
          <label for="supplierAddress2"><b>Företag dress2</b></label>
          <input type="text" class="w3-input w3-border"  name="supplierAddress2" [(ngModel)]="signUp.supplierAddress2">
          <label for="supplierPhone"><b>Företag mobilnummer</b></label>
          <input type="text" class="w3-input w3-border"  name="supplierPhone" [(ngModel)]="signUp.supplierPhone">
          <label for="supplierEmail"><b>Företag email</b></label>
          <input type="text" class="w3-input w3-border" name="supplierEmail" [(ngModel)]="signUp.supplierEmail">

          </div>
          <div class="w3-half">
            <h1>Användare</h1>

            <label for="firstName"><b>Förnamn</b></label>
            <input type="text" class="w3-input w3-border"  name="firstName" [(ngModel)]="signUp.firstName">
            <label for="lastName"><b>Efternamn</b></label>
            <input type="text" class="w3-input w3-border"  name="lastName" [(ngModel)]="signUp.lastName">
            <label for="address1"><b>Adress1</b></label>
            <input type="text" class="w3-input w3-border"  name="address1" [(ngModel)]="signUp.address1">
            <label for="address2"><b>Adress2</b></label>
            <input type="text" class="w3-input w3-border"  name="address2" [(ngModel)]="signUp.address2">
            <label for="phone"><b>Mobilnummer</b></label>
            <input type="text" class="w3-input w3-border"  name="phone" [(ngModel)]="signUp.phone">
            <label for="email"><b>Email</b></label>
            <input type="text" class="w3-input w3-border" placeholder="Enter Email" name="email" [(ngModel)]="signUp.email">
            <label for="password"><b>Lösenord</b></label>
            <input type="password" class="w3-input w3-border" placeholder="Enter Email" name="password" [(ngModel)]="signUp.password">
          </div>
        </div>
        <div class="container">
          
         

          <!-- <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->
          <div class="clearfix">
            <button type="button" class="cancelbtn">Reset form</button>
            <button type="button" class="signupbtn" (click)="onSignUp()">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
