<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Create product</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <!-- <label>Name</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="products.product_name" placeholder="Produkt namn" name="product_name">
    </div>
    <div>
      <!-- <label>eaN13</label> -->
      <br>
      <input type="text" class="w3-input" [(ngModel)]="products.sku" placeholder="SKU" name="sku">
    </div>
    <div>
      <!-- <label>stock</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="products.product_description" placeholder="Beskrivning" name="product_description">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="products.price" placeholder="pris" name="price">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="category" [(ngModel)]="selectedCategory">
        <option [value]="0" selected="selected" disabled>Lägg till kategori</option>
        <option [value]="category.category_id"  *ngFor="let category of categories">{{category.category_name}}</option>
      </select>
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="suppliersCategory" [(ngModel)]="selectedSuppliersCategory">
        <option [value]="0" selected="selected" disabled>Lägg till företags kategori</option>
        <option [value]="suppliersCategory.category_id"  *ngFor="let suppliersCategory of suppliersCategories">{{suppliersCategory.name}}</option>
      </select>
    </div>
    <div>
      <label>Bild (Max: 200kb)</label>
      <br>
      <input type="file" class="w3-input" (change)="onFileChanged($event)">
    </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onSave()">Skapa produkt</button>
</div>