<div class="w3-card-4">
  <button type="button" class="w3-card-4 w3-button w3-block w3-red" (click)="onDelete()">Radera fliken</button>
  <div class="w3-container w3-teal">
    <h2>{{navbar.homePageN_name}}</h2>
  </div>


  <div>
    <label>Name</label>
    <input type="text" class="w3-input" name="navbarName" [(ngModel)]="navbar.homePageN_name" placeholder="Enter Name">
  </div>
  <br>
  <label>Företags kategori</label>
  <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="category" [(ngModel)]="selectedCategory">
    <!-- <option value="0" selected="selected" disabled>Lägg till Kategori</option> -->
    <option [value]="category.category_id" *ngFor="let category of categories">{{category.name}}</option>
  </select>
  <br><br>
  <button type="submit" class="w3-card-4 w3-button w3-block w3-green" (click)="updateNavbar()">Spara</button>
</div>
