
<div class="w3-card-4" *ngIf="!showAndHide">
  <div class="w3-container w3-red">
    <h2>Skapa underkategori/kategori</h2>
  </div>
  <br>
  <div class="w3-container">
    <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="category" [(ngModel)]="selectedCategory">
      <option [value]="0" selected="selected" disabled>Välj typ</option>
      <option [value]="category.id" *ngFor="let category of categorylist">{{category.name}}</option>
    </select>
  </div>
  <br>


  <div *ngIf="selectedCategory == 1">

    <form class="w3-container" #myForm="ngForm">
      <label>Kategori namn</label>
      <input type="Text" class="w3-input" [(ngModel)]="category.category_name" placeholder="Store type" name="name">
      <label>Beskrivning</label>
      <input type="Text" class="w3-input" [(ngModel)]="category.description" placeholder="Store type" name="name2">
    </form>
    <br>
    <button type="submit" class="w3-card-4 w3-button w3-block w3-green" (click)="saveCategory()">Skapa</button>
  </div>

  <div *ngIf="selectedCategory == 2">

    <form class="w3-container" #myForm="ngForm">
      <label>Under kategori</label>
      <input type="Text" class="w3-input" [(ngModel)]="subCategory.sub_name" placeholder="" name="name">

    </form>
    <br>
    <button type="submit" class="w3-card-4 w3-button w3-block w3-green" (click)="saveSubCategory()">Skapa</button>
  </div>
</div>