
<button type="button" class="w3-card-4 w3-button w3-block w3-red" (click)="onDelete()">Radera produkt</button>

<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Ändra image header</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <!-- <label>Name</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="imgBar.homepageIB_name" placeholder="Image name" name="imageBarName">
    </div>
    <div>
      <label>Picture (Max: 200kb)</label>
      <br>
      <input type="file" class="w3-input" (change)="onFileChanged($event)">
    </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onSave()">Spara</button>
</div>