.imgBar {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-container img {
    width: 100%;
    max-width: 100%;
}

.navBar {
    display: flex;
    justify-content: center;
}