
<div class="w3-blue-grey w3-container">

  <!-- <div class="w3-row main-container">
        <div class="w3-col s12 w3-container w3-blue"><p>150px</p></div>
        <div class="w3-col s6 w3-container w3-green"><p>w3-rest</p></div>
      </div> -->



  <div class="w3-row main-container">
    <div class="w3-col l12 w3-center">
      <img src="../../../../assets/images/{{imgHeader.homePageIB_Image}}" alt="">
    </div>

    <div class="w3-bar w3-black w3-col l12 w3-center">
      <div class="w3-bar-item" *ngFor="let navbarName of navbar">{{navbarName.homePageN_name}}</div>
      <div class="w3-bar-item" routerLink="/om-oss">Om oss</div>
    </div>
  </div>
  <div class="imgBar">
    <div *ngFor="let images of imgBar">
      <img src="../../../../assets/images/{{images.homepageIB_image}}" alt="">
    </div>
  </div>
</div>


