
<button type="button" class="w3-card-4 w3-button w3-block w3-red" (click)="onDelete()">Radera kategpri</button>


<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>{{updateCategories.name}}</h2>
  </div>

  <form class="w3-container">
    <div>
      <label>Namn</label>
      <input type="text" class="w3-input" name="category_name" [(ngModel)]="updateCategories.name">
    </div>
    <div>
      <label>Beskrivning</label>
      <input type="text" class="w3-input" name="description" [(ngModel)]="updateCategories.description">
    </div>
  </form>
  <br>
  <button type="submit" class="w3-card-4 w3-button w3-block w3-green" (click)="updateCategory()">Spara</button>
</div>
<br>


<div class="w3-card-4" *ngIf="!showAndHide">
  <div class="w3-container w3-red">
    <h2>Lägg till under kategori</h2>
  </div>
  <br>
  <div class="w3-container">
    <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" [(ngModel)]="subCategoryObject.subcategory_id">
      <option value="5" selected="selected" disabled>Lägg till under kategori</option>
      <option  [value]="category.subcategory_id" *ngFor="let category of subCategory">{{category.sub_name}}</option>
    </select>
    
  </div>
  <br>
  <button type="submit" class="w3-card-4 w3-button w3-block w3-green" (click)="updateSubCategory()">Lägg till</button>
</div>
<br>

<!-- forloop -->'

<div *ngFor="let cubC of subCategoryView; let i = index">
  <div class="w3-card-4">
    <div class="w3-container w3-red"><i style="float: right; color:black;" class="fas fa-trash-alt fa-3x" (click)="deleteSub()"></i>
      <h2>{{cubC.sub_name}}</h2>
    </div>
  </div>
</div>