<p>
  home-page-about-us-create works!
</p>
<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Skapa om oss</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <!-- <label>Name</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.address" placeholder="Adress" name="address">
    </div>
    <div>
      <!-- <label>eaN13</label> -->
      <br>
      <input type="text" class="w3-input" [(ngModel)]="aboutUs.zipCode" placeholder="Postnr" name="zipCode">
    </div>
    <div>
      <!-- <label>stock</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.city" placeholder="Stad" name="city">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.number" placeholder="Kontakt nummer" name="number">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.email" placeholder="Email" name="email">
    </div>
    <div>
        <!-- <label>Price</label> -->
        <br>
        <textarea type="Text" class="w3-input" [(ngModel)]="aboutUs.textField" placeholder="Övrigt" name="textField"></textarea>
      </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onSave()">Skapa</button>
</div>