
<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Ändra om oss</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <label>Adress</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.address"  name="address">
    </div>
    <div>
      <label>Postnr</label>
      <br>
      <input type="text" class="w3-input" [(ngModel)]="aboutUs.zipCode"  name="zipCode">
    </div>
    <div>
      <label>stad</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.city"  name="city">
    </div>
    <div>
      <label>Kontakt nummer</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.number"  name="number">
    </div>
    <div>
      <label>Email</label>
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="aboutUs.email"  name="email">
    </div>
    <div>
        <label>Övrigt</label>
        <br>
        <textarea type="Text" class="w3-input" [(ngModel)]="aboutUs.textField"  name="textField"></textarea>
      </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onSave()">spara</button>
</div>