
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
<table mat-table class="w3-table-all w3-hoverable" [dataSource]="dataSource" matSort aria-label="Elements">


<ng-container matColumnDef="id">
  <th  *matHeaderCellDef mat-sort-header>Id</th>
  <td  *matCellDef="let row"><a routerLink="/orders/{{row.oid}}">{{row.oid}}</a></td>
</ng-container>

<ng-container matColumnDef="name">
  <th  *matHeaderCellDef mat-sort-header>Name</th>
  <td  *matCellDef="let row">{{row.first_name}} {{row.last_name}}</td>
</ng-container>

<ng-container matColumnDef="email">
  <th  *matHeaderCellDef mat-sort-header>Email</th>
  <td  *matCellDef="let row">{{row.email}}</td>
</ng-container>

<ng-container matColumnDef="leveransadress">
  <th  *matHeaderCellDef mat-sort-header>Leveransadress</th>
  <td  *matCellDef="let row">{{row.delivery_address}}</td>
</ng-container>


<tr  class="w3-green" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-paginator #paginator
  [length]="dataSource.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>