
<div class="w3-card-4">
  <div class="w3-container w3-teal">
    <h2>Skapa användare</h2>
  </div>

  <form class="w3-container" enctype="multipart/form-data">
    <div>
      <!-- <label>Name</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.firstName" placeholder="Förnamn" name="firstName">
    </div>
    <div>
      <!-- <label>eaN13</label> -->
      <br>
      <input type="text" class="w3-input" [(ngModel)]="user.lastName" placeholder="Efternamn" name="lastName">
    </div>
    <div>
      <!-- <label>stock</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.address1" placeholder="Adress1" name="address1">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.address2" placeholder="Adres2" name="addres2">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.phone" placeholder="Mobilnummer" name="phone">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.email" placeholder="Email" name="email">
    </div>
    <div>
      <!-- <label>Price</label> -->
      <br>
      <input type="Text" class="w3-input" [(ngModel)]="user.password" placeholder="Lösenord" name="password">
    </div>
  </form>
  <br>
  <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="saveUser()">Skapa användare</button>
</div>
