
.flexbox {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content:  space-between;
}

.main-container {
    padding-top: 20px;
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
    background-color: lightgrey
}