<head>
  <!-- ... -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <!-- ... -->
</head>


<div class="w3-bar w3-black" *ngIf="isLoggedIn()">
    <div class="flexbox">
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/home">Startsida</div>
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/products">Produkter</div>
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/category">Kategorier</div>
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/orders">Ordrar</div>
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/users">Användare</div>
        <div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage">Webbshop inställningar</div>
    </div>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
