

<button class="w3-button w3-block w3-teal" routerLink="/category/create">Skapa kategori</button>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
<table mat-table class="w3-table-all w3-hoverable" [dataSource]="dataSource" matSort aria-label="Elements">


<ng-container matColumnDef="id">
  <th  *matHeaderCellDef mat-sort-header>Id</th>
  <td  *matCellDef="let row"><a routerLink="/category/{{row.category_id}}/edit">{{row.category_id}}</a></td>
</ng-container>

<ng-container matColumnDef="name">
  <th  *matHeaderCellDef mat-sort-header>Namn</th>
  <td  *matCellDef="let row">{{row.name}}</td>
</ng-container>

<ng-container matColumnDef="description">
  <th  *matHeaderCellDef mat-sort-header>Beskrivning</th>
  <td  *matCellDef="let row">{{row.description}}</td>
</ng-container>

<ng-container matColumnDef="category_id">
  <th  *matHeaderCellDef mat-sort-header>Kategori id</th>
  <td  *matCellDef="let row">{{row.supplier_id}}</td>
</ng-container>


<tr  class="w3-green" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-paginator #paginator
  [length]="dataSource.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>