
<button class="w3-button w3-block w3-teal" routerLink="/homepage/image-header/create">Skapa image header</button>


<div class="w3-row main-container">
  <h2>Klicka på bilden för att ändra</h2>
  <div class="w3-col l12 w3-center" routerLink="/homepage/image-header/{{imgHeader.homePageIB_sid}}/edit">
    <img src="../../../../assets/images/{{imgHeader.homePageIB_Image}}" alt="">
  </div>
</div>