<p>
  home-page-about-us-view works!
</p>
<button class="w3-button w3-block w3-teal" routerLink="/homepage/about-us/create">Skapa om oss</button>
<br>
<button class="w3-button w3-block w3-teal" routerLink="/homepage/about-us/edit">Ändra om oss</button>
