
<div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage/navbar">Navbar</div>
<div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage/image-header">Image header</div>
<div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage/image-bar">Produkter</div>
<div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage/about-us">Om oss</div>
<div class="w3-bar-item w3-hover-green" routerLinkActive="active" routerLink="/homepage/preview">Förhandsvisning</div>
