
<button class="w3-button w3-block w3-teal" routerLink="/homepage/image-bar/create">Skapa bild product</button>


<div class="w3-row main-container">
  <h3>Klicka bilden för att ändra</h3>
  <div class="imgBar">
    <div *ngFor="let images of imgBar" >
      <img src="../../../../assets/images/{{images.homepageIB_image}}" alt="" routerLink="/homepage/image-bar/{{images.homepageIB_id}}/edit">
    </div>
  </div>
</div>
