<div class="w3-card-4">
    <div class="w3-container w3-teal">
      <h2>Skapa flik</h2>
    </div>
    <form name="myForm" ngNativeValidate (submit)="saveNavbar()" >
  <div>
    <label>Name</label>
    <input type="text" class="w3-input" name="navbarName" [(ngModel)]="addNavbar.homePageN_name" placeholder="Enter Name" required>
  </div>
 
  <br>
  <label>Företags kategori</label>
  <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="category" [(ngModel)]="selectedCategory">
    <option value="0" selected="selected" disabled>Lägg till kategori</option>
    <option [value]="category.category_id"  *ngFor="let category of categories">{{category.name}}</option>
  </select>
  <br><br>
  <button type="submit" class="w3-card-4 w3-button w3-block w3-green" >Skapa flik</button>
</form>
</div>
<div class="w3-bar w3-black">
  <div class="w3-bar-item" *ngFor="let navbarName of navbar">{{navbarName.homePageN_name}}</div>
  <!-- <p>Selected option: {{selectedOption}}</p>
  <p>Button output: {{printedOption}}</p> -->
</div>
