<button type="button" class="w3-card-4 w3-button w3-block w3-red" (click)="onDelete()">Radera produkt</button>
  
  <div class="w3-card-4">
    <div class="w3-container w3-teal">
      <h2>{{products.product_name}}</h2>
    </div>
  
    <form class="w3-container" enctype="multipart/form-data">
      <div>
        <label>Namn</label>
        <br>
        <input type="Text" class="w3-input" [(ngModel)]="products.product_name"  name="product_name">
      </div>
      <div>
        <label>SKU</label>
        <br>
        <input type="text" class="w3-input" [(ngModel)]="products.sku"  name="sku">
      </div>
      <div>
        <label>Beskrivning</label>
        <br>
        <input type="Text" class="w3-input" [(ngModel)]="products.product_description"  name="product_description">
      </div>
      <div>
        <label>Pris</label>
        <br>
        <input type="Text" class="w3-input" [(ngModel)]="products.price"  name="price">
      </div>
      <div>
        <label>Kategorier</label>
        <br>
        <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="category" [(ngModel)]="selectedCategory">
          <option [value]="0" selected="selected">Lägg till Kategori</option>
          <option [value]="category.category_id" *ngFor="let category of categories">{{category.category_name}}</option>
        </select>
      </div>
      <div>
        <label>Företag kategorier</label>
        <br>
        <select class="w3-select w3-white" style="border-radius: 0px; -webkit-appearance: none;" id="" name="suppliersCategory" [(ngModel)]="selectedSuppliersCategory">
          <option [value]="0" selected="selected" disabled>Lägg till företags kategori</option>
          <option [value]="category.category_id" *ngFor="let category of suppliersCategories">{{category.name}}</option>
        </select>
      </div>
      <div>
        <label>Bild (Max: 200kb)</label>
        <br>
        <input type="file" class="w3-input" (change)="onFileChanged($event)">
      </div>
    </form>
    <br>
    <button type="button" class="w3-card-4 w3-button w3-block w3-green" (click)="onChange()">Spara produkt</button>
  </div>
