
<button class="w3-button w3-block w3-teal" routerLink="/homepage/navbar/create">Skapa navbar</button>


<br>
<h3>Tryck på menyn för att ändra</h3>
<div class="w3-bar w3-black">
  <div class="w3-bar-item" routerLink="/homepage/navbar/{{navbarName.homePageN_id}}/edit" *ngFor="let navbarName of navbar">{{navbarName.homePageN_name}}</div>
</div>